* {
    /** Text colors */
    --text-dark: #000000;
    --text-light: #ffffff;

    /** Highlight colors */
    --hl-0: #8000ff;
    --hl-1: #9436ff;
    --hl-2: #a554ff;
    --hl-3: #b56eff;
    --hl-4: #c486ff;
    --hl-5: #d29fff;

    /** Background colors */
    --bg-0: #121212;
    --bg-1: #282828;
    --bg-2: #3f3f3f;
    --bg-3: #575757;
    --bg-4: #717171;
    --bg-5: #8b8b8b;

    /** Tonal background colors */
    --tonal-0: #1e1626;
    --tonal-1: #332b3a;
    --tonal-2: #494250;
    --tonal-3: #615a67;
    --tonal-4: #79737e;
    --tonal-5: #928e97;
}

body {
    margin: 0;
    background: var(--bg-0);
    color: var(--text-light);
    text-align: center;

    /**********
    Content Box
    **********/

    .page {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
        align-content: center;
        background: var(--bg-0);

        .content-box {
            display: flex;
            font-family: Arial, Helvetica, sans-serif;
            flex-direction: column;
            position:absolute;
            top:30%;
            left:20%;
            right: 20%;
            bottom: 30%;
            background-color: var(--bg);
        }
            
        /*************
        Navigation Bar
        *************/

        .top-bar {
            position: absolute;
            top: 0;
            background: var(--bg-1);
            min-width: 580px;
            width: 100%;
            overflow: hidden;
        }
        
        .top-bar a {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            float: right;
            color: var(--text-light);
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
            font-size: 17px;
            transition: background-color 0.3s ease;
        }

        .top-bar img {
            max-height: 48px;
            margin: 0px 20px;
            float: left;
        }
        
        .top-bar a:hover {
            background-color: var(--bg-2);
        }
        
        .top-bar a.active {
            background-color: var(--hl-0);
        }


    }
}